.clients {
  display: flex;
  justify-content: center;
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid getColor('icon-primary');
  border-radius: 4px;

  fill: getColor('icon-primary');

  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: $time-function;

  &:hover,
  &:focus {
    border-color: getColor('accent');
    fill: getColor('accent');
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
