.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('bg-secondary');
}

.footer__container {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}

.follow-box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.contact-box {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: block;

  margin-bottom: 20px;
}

.adress {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  @include font(null, 14px, 1.71, 0.03em);
  color: getColor('secondary-light');

  &--light {
    color: getColor('primary-light');
  }
}

.footer__text {
  display: block;

  margin-bottom: 20px;

  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: getColor('primary-light');
}

.join {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.soc-networks__link--white {
  background-color: rgba(255, 255, 255, 0.1);
  fill: getColor('icon-secondary');
}

.subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe__lable {
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe__input {
  min-width: 100%;
  padding: 15px 16px;

  @include font(null, 16px, 1.25, 0.03em);
  color: getColor('secondary-light');

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: getColor('bg-secondary');
  outline: none;

  &::placeholder {
    @include font(null, 16px, 1.25, 0.03em);
    color: getColor('secondary-light');
  }
  @media screen and (min-width: 768px) {
    min-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.sub-button__icon {
  margin-left: 10px;
}
