.form {
  padding: 40px;
}
.form__title {
  display: block;

  margin-bottom: 12px;

  @include font(700, 20px, 1.15, 0.03em);
  text-align: center;
  color: getColor('primary');
}
.form__field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;

  &--comment {
    margin-bottom: 20px;
  }
}
.form__label {
  margin-bottom: 4px;

  @include font(null, 12px, 1.17, 0.01em);
  color: getColor('secondary');
}

.form__input {
  padding: 12px 16px 12px 42px;

  width: 100%;

  @include font(null, 16px, 1.13, 0.01em);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $time-function;

  &:focus {
    outline: none;
    border: 1px solid getColor('accent');
  }
}
.form__input-wrap {
  position: relative;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $time-function;

  .form__input:focus + & {
    fill: getColor('accent');
  }
}
.form__textarea {
  padding: 12px 16px;

  resize: none;
  width: 100%;
  height: 120px;

  @include font(null, 14px, 1.14, 0.01em);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: $time-function;

  &:focus {
    outline: none;
    border: 1px solid getColor('accent');
  }
  &::placeholder {
    @include font(null, 14px, 1.14, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  align-items: center;
  margin-bottom: 30px;
}
.checkbox__lable {
  position: relative;

  padding-left: 24px;

  @include font(null, 14px, 1.71, 0.03em);
  color: getColor('secondary');

  &:hover {
    fill: getColor('accent');
  }
}
.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 16px;
  height: 15px;

  &--check {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $time-function;
  }
  &--checkin {
    opacity: 0;
    transform: translateY(-50%) scale(1.2);

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: $time-function;
  }
}
.checkbox__input:checked ~ .checkbox__icon--checkin {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.checkbox__input:checked ~ .checkbox__icon--check {
  fill: getColor('accent');
}
.checkbox__input:focus ~ .checkbox__icon--check {
  fill: getColor('accent');
}
.agreement-conditions {
  @include font(null, 14px, 1.71, 0.03em);
  text-decoration-line: underline;
  color: getColor('accent');
}
.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
