.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: getColor('bg-secondary');

  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;
}
