.logo {
  font-family: 'Raleway';
  @include font(700, 24px, 1.17, 0.03em);
  color: getColor('accent');
  &--dark {
    color: getColor('logo-header');
  }
  &--light {
    color: getColor('logo-footer');
  }
  @media screen and (min-width: 1200px) {
    @include font(null, 26px, 1.19, null);
  }
}
