.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;

    @include font(700, 28px, 1.18, 0.03em);
    text-align: center;

    @media screen and (min-width: 1200px) {
      @include font(null, 36px, 1.17, null);
    }
  }
  &--no-padding-top {
    @media screen and (max-width: 1199px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 0;
    }
    &--other-bg {
      background-color: getColor('bg-team');
    }
  }
}
