body {
  font-family: Roboto, sans-serif;
  color: getColor('primary');
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: getColor('accent');
  &--dark {
    color: getColor('logo-header');
  }
  &--light {
    color: getColor('logo-footer');
  }
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor('primary');
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor('secondary');
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: getColor('btn-text');
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: getColor('hero-title');
  text-transform: uppercase;
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor('secondary');
}
.about__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor('bg-primary');
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: getColor('secondary');
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('primary');
}
.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: getColor('secondary');
}
.form__input {
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 0.01em;
}
.form__textarea {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.checkbox__lable {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor('secondary');
}
.agreement-conditions {
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: getColor('accent');
}
.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('primary');
}
.portfolio__label {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: getColor('primary-light');
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor('primary');
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: getColor('secondary');
}

.adress {
  font-style: normal;
}
.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor('secondary-light');
}
.address__link--light {
  color: getColor('primary-light');
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: getColor('primary-light');
}
.subscribe__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: getColor('secondary-light');

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: getColor('secondary-light');
  }
}
